<nav>
  <div class="site-title">
    <a href="/"><h1>Blog</h1></a>
    <p>All the things you want to write</p>
  </div>
  <div class="searchBar">
    <form action="/blogs/search" method="POST" class="search__form" role="search">
      <input 
        type="search"
        aria-label="Seach"
        id="searchInput"
        name="searchTerm"
        placeholder="Seach the site..."
      >
    </form>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li id="user-info">
      <% if (username) { %>
        Hi, <%= username %> &nbsp;
        <a href="#" id="logout-link">   Logout</a>
      <% } else { %>
        <a href="/auth/login">Login</a> &nbsp;<a href="/auth/register">Register</a>
      <% } %>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const logoutLink = document.getElementById('logout-link');
    if (logoutLink) {
      logoutLink.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        fetch('/auth/logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(response => {
          if (response.ok) {
            window.location.href = '/auth/login'; // Redirect to login page after logout
          }
        }).catch(error => {
          console.error('Error:', error);
        });
      });
    }
  });
</script>