<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    <h1>404</h1>
    <p><%= title %></p>
    <a href="/">Go back to Home</a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>