<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <h3>Chào mừng đến với Blog!    </h3>
    <p>Blog được thành lập với sứ mệnh tạo ra một không gian nơi mà những người đam mê lập trình, công nghệ và sáng tạo có thể kết nối, học hỏi và chia sẻ kinh nghiệm. Chúng tôi tin rằng kiến thức là vô tận và việc chia sẻ sẽ giúp cộng đồng phát triển mạnh mẽ hơn mỗi ngày.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>